.products {
	padding: 1rem;
	background: #d34735;
	margin: 2px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	border-radius: 4px;
	width: 350px;
	height: 150px;
	color: #fff;
	box-shadow: 3px 3px 15px rgb(179, 175, 175);
}
img {
	width: 150px;
	border-radius: 4px;
	max-height: 150px;
}

button {
	background-color: #3ad886;
	border: none;
	border-radius: 4px;
	margin: 2px;
	padding: 5px;
	outline: none;
	&:hover {
		background-color: #38ac70;
		cursor: pointer;
	}
}
