.App {
	text-align: center;
	background-image: linear-gradient(
			rgba(15, 15, 15, 0.733),
			rgba(34, 34, 34, 0.486)
		),
		url("./assets/4k-wallpaper-abstract-art-1210276.jpg");
	background-size: cover;
	background-position: center;

	height: 98vh;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.flex {
	display: flex;
	justify-content: space-evenly;
}
